nav{
    width: 100%;
    /*background-color: rgb(201, 201, 212) ; */
    color: #fff;
    display: flex;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.logo{
    width: 130px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 5px 20px;
    font-size: 18px;
    font-weight: 600;
}

.container{
    padding-left: 5%;
    padding-right: 5%;
}

.btn{
    background-color: midnightblue;
    color: rgb(227, 227, 239) ;
    padding: 16px 25px;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
}