.hero{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(rgba(8, 0, 58, 0.75)), url(../../assets/hero-image.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
}

.hero-text{
    text-align: center;
    max-width: 1000px;
    color: #fff;
}

.hero text h1{
    font-size: 80px;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero-text p{
    font-size: 20px;
    max-width: 800px;
    margin:10px auto 30px;
    line-height: 1.8;
}